<form method="post" class="form-signin">
    <h3>Login</h3>
       <form class="col s12" method="post">
  
    
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" value={{email}}>
          <label for="email">Name</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" value={{email}}>
          <label for="password">Password</label>
        </div>
      </div>
    <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
     
      
     
    </form>
</form>